.header__lang-link_ru {
    top: 46px;
    right: 95px; 
}

@media screen and (max-width: 768px) {
    .header__lang-link_ru {
        right: 71px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link_ru {
        top: 30px;
        right: 56px; 
    }
}



