.page {
    min-width: 1280px;
    height: 6875px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background-color: #2A2C2F;
    position: relative;
}

.header {
    min-width: 1184px;
    max-height: 52px;
    padding: 28px 48px 0;
    

}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    height: 28px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    position: absolute;
}

.header__lang-link_ru {
    width: 30px;
    top: 46px;
    right: 95px;
}

.header__lang-link_en {
    width: 29px;
    top: 46px;
    right: 48px;
    text-decoration: none;
}

.lead {
    width: 984px;
    height: 1005px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    margin: auto;
    padding-top: 56px;
}

.section-title {
    width: 720px;
    height: 200px;
    line-height: 1.04;
    font-size: 96px;
    font-weight: bold;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.section-subtitle {
    width: 640px;
    height: 72px;
    margin: 32px auto 0;
    font-weight: normal;
    line-height: 1.2;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 64px auto 8px;
}

.caption {
    color: #FFFFFF;
    margin: 0;
    align-items: start;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
}

div {
    border: 1px double red;
}

section {
    border: 1px double red;
}

