.footer__columns {
    width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer__columns {
        width: 928px;
        display: flex;
        justify-content: space-between;
    }
}