.intro__list {
    width: 690px;
    color: #FFFFFF;
    margin: 0;
    font-weight: bold;
    line-height: 1.5;
    font-size: 12px;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .intro__list {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        width: 288px;
    }
}