.cover__subtitle {
    width: 360px;
    height: 66px;   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    text-align: center;
    margin: 0 412px 245px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 332px 195px;
    }
}