.cover__subtitle {
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 245px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .cover__subtitle {
        margin: 0 auto 195px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0 auto 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 1.14;
        margin: 0 auto 33px;
    }
}