.photo-grid__images {
    width: 1184px;
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid__images {
        width: 928px;
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto;
        gap: 14px;
    }
}