
.lead__subtitle {
    max-width: 640px;
    height: 72px;
    margin: 32px auto 0;
    font-weight: normal;
    line-height: 1.2;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        height: 40px;
        margin: 16px auto 0;
        line-height: 1.25;
        font-size: 16px;
    }
}