.photo-grid__items {
    width: 1184px;
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid__items {
        width: 928px;
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__items {
        width: 720px;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__items {
        width: 288px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        gap: 12px;
    }    
}