.cover__title {
    width: 560px;
    height: 152px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    text-align: center;
    /* position: absolute;
    top: 245px;
    left: 312px; */
    margin: 245px 312px 32px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}