.place {
    width: 984px;
    display: grid;
    grid-template-rows: fit-content(152px) 460px;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 928px;
        grid-template-rows: fit-content(152px) 440px;
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 720px;
        grid-template-rows: fit-content(92px) fit-content(441px);
        grid-template-columns: 340px 352px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 320px;
        grid-template-rows: 35px 46px 320px fit-content(545px);
        grid-template-columns: 320px;
        row-gap: 32px;
        justify-items: center;
    }
}

